<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Verification</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            text-align: center;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }

        .container {
            width: 80%;
            background-color: #fff;
            padding: 20px;
            border: 1px solid #ddd;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            margin: 50px auto auto;
        }

        a {
            color: #3498db;
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }
    </style>
</head>
<body>
<div class="container">
    <p>Hello {{FullName}},</p>
    <p>Thank you for signing up! To complete your registration, please click on the link below to verify your email:</p>

    <p>
        <a href="https://boxygen.ir/api/email/verify?token={{VerificationToken}}&email={{EmailAddress}}" >
        Verify Email
        </a>
    </p>

    <p>If the above link does not work, you can copy and paste the following URL into your browser:</p>
    <p>{{VerificationToken}}</p>
</div>
</body>
</html>
